.top_bar{
  width: 100%;
  /* border: 1px solid red; */
}
.newnav{
  float: left;
  width: 30%;
  /* border: 1px solid blue; */
}

.newnav ul{
  /* border: 1px solid blue; */
  /* margin-left: -5%; */
}

.top_barPic{
  text-align: center;
  width: 69%;
  /* border: 1px solid yellow; */
  height: 100%;
  float: left;
}

.top_barPic img{
  text-align: center;
  width: 100%;
}

.newnav li{
  float: left;
  list-style-type: none;
  width: 100%;
  margin: 0.1%;
  border: 1px solid #B298DC;
  text-align: center;
  height: 30px;
  font-size: 20px;
}

.newnav a{
  display: block;
  text-align: center;
  background-color: white;
  text-decoration: none;
  color: black;
  height: 30px;
}

.newnav a:hover{
  color: #DCCFEC;
  background-color: grey;
}

.newnav a.active{
  color: #DCCFEC;
  background-color: black;
}

.bottom_bar{
  width: 100%;
  float: left;
  color: white;
  text-align: center;
  /* border: 1px solid blue; */
}

.project_present{
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
.right .project_present h3{
  text-align: center;
  margin-top: 5%;
}

#bansheepic{
  width: 78%;
  /* float: left; */
}

.banshee_designs{
  float: left;
  width: 50%;
  /* background: white; */
  /* border: 1px solid black; */
}

.banshee_designs img{
  width: 30%;
  background: white;
}

#original_banshee{
  width: 26%;
}

#project2pic{
  margin-top: 5%;
  width: 60%;
}

.bottom_bar h4{
  text-align: center;
  /* border: 1px solid orange; */
}

#project2_button{
  width: 50%;
  text-align: center;
  /* border: 1px solid red; */
  margin-left: 25%;
  margin-right: 25%;
}

#project2_button a{
  display: block;
  background-color: white;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  box-shadow: 1px 1px 5px grey;
  text-align: center;
}

#project2_button a:hover{
  color: #DCCFEC;
  background-color: grey;
}

#musicvid_pic{
  margin-top: 5%;
  width: 60%;
}

#rosetintedpic{
  width: 65%;
  margin-top: 2%;
}

#diver_header{
  margin-top: 2%;
  width: 38%;
}

#wand_header{
  width: 32%;
}

#escape_pic{
  margin-top: 2%;
  width: 80%;
}
