.research_pic{
  margin-top: 5px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.section_writeup{
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 25px;
}

#research_list{
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 22px;
  margin-bottom: 20px;
}
