.mainbody{
  color: white;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15%;
}

.sectionheader{
  font-size: 100px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.about_description p{
  font-size: 25px;
}

.about_block_one{
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
  overflow: hidden;
}

.about_block_left{
  width: 49%;
  float: left;
  /* border: 1px solid lightblue; */
}

.about_block_right{
  width: 49%;
  float: left;
  /* border: 1px solid lightblue; */
}

.about_left{
  width: 50%;
  float: left;
}

.about_right{
  width: 50%;
  float: left;
  line-height: normal;
}

.about_right{
  font-size: 15px;
}

.skills{
  width: 100%;
}

.education_title{
  font-size: 23px;
}

h2{
  /* border: 1px solid red; */
}

.about_block{
  overflow: hidden;
}

.experience_company{
  font-size: 20px;
}

.experience_place{
  font-size: 15px;
  line-height: 100%;
}

.experience_date{
  font-size: 15px;
  line-height: 100%;
}

.experience_title{
  font-size: 20px;
}

.experience_list{
  line-height: 150%;
  font-size: 18px;
}

.skill_block{
  float: left;
  width: 33%;
  /* border: 1px solid blue; */
}

.skill_title{
  font-size: 20px;
}

.extra_block{
  /* border: 1px solid white; */
  overflow: scroll;
  margin-bottom: 2%;
}

.extra_text_section{
  /* border: 1px solid red; */
  margin-left: 7%;
  margin-right: 7%;

}

.extra_title{
  text-align: left;
  margin-bottom: 0;
}

.extra_subtitle{
  margin-top: 5px;
}
.about_block_one_extra{
  overflow: hidden;
}

#vocs_pics{
  /* border: 1px solid purple; */
  margin-top: 2%;
  margin-bottom: 2%;
}

.gallerypic{
  width: 29%;
  margin-left: 2%;
  margin-right: 2%;

}

#caption_album{
  /* border: 1px solid blue; */
  width: 60%;
  float: left;
  margin-right: 10%;
}

#album_pic_section{
  float: left;
  /* border: 1px solid red; */
}

#album_pic{
  width: 17%;
  text-align: center;
}
