.process_subtitle{
  text-align: center;
}

.column {
  float: left;
  width: 32%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column2 {
  float: left;
  width: 46%;
  padding: 5px;
}
