body {
  font-family: 'Quicksand', sans-serif;
}

html{
  scroll-behavior: smooth;
}
.page_navBar{
  margin: 5%;
  text-align: center;
  /* border: 1px solid red; */
  /* overflow: hidden; */
}
.page_nav{
  text-decoration: none;
  color: black;
  width: 50%;
  overflow: hidden;
  border: 1px solid black;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
}

.page_nav:hover{
  background-color: #1c0424;
  color: white;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1c0424;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a.active{
  color: #f1f1f1;

}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 20px;
  padding: 0px 10px;
}

.main header{
	line-height: 100%;
}

.main img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pagetitle{
	font-size: 40px;
	text-align: center;
}

.sectiontitle{
	font-size: 30px;
}

.homepage_container{
  width: 40%;
  overflow: hidden;
  border: 5px solid black;
  text-align: center;
  background-color: lavender;
}

.homepage_container img{
  width: 100%;
  margin: 5px;
  border: 2px solid white;
}

.homepage_container a{
  text-decoration: none;

}

.homepage_container p{
  color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
