.connect_mainbody{
  color: white;
  text-align: center;
  margin-top: 2%;
}

.sectionheader{
  font-size: 100px;
  text-align: center;
}

.connect_topsection{
  /* border: 1px solid red; */
  margin: 5%;
  margin-left: 20%;
  margin-right: 20%;
  overflow: hidden;
  margin-bottom: 0;
}

.connect_top_sidesection{
  float: left;
  width: 49.5%;
  /* border: 0.5px solid blue; */
}

#text{
  text-align: left;
}

#pic{
  text-align: center;
}

#connect_top_sidesection_text{
  font-size: 25px;
}

.connect_top_sidesection_emails{
  font-size: 18px;
  color: white;
}

.connect_top_sidesection_emails a{
  text-decoration: none;
  color: white;
}

#email_icon{
  width: 55%;
}

#email_icon:hover{
  width: 58%;
}

.connect_bottomsection{
  margin-left: 20%;
  margin-right: 20%;
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 5%;

}

.connect_bottom_sidesection{
  float: left;
  width: 33%;
}

.connect_bottom_sidesection img{
  width: 50%;
}

.connect_bottom_sidesection img:hover{
  width: 52%;
}

#instagram_icon{
  margin: 0%;
}
