
/* teal - #255d5d */
/* purple - #312261 */

/* cell phone */
html{
  margin: 0;
}
body {
  background-color: #bec5d9;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.top{
  display: block;
  width: 100%;
  overflow: hidden;
}

header{
  font-family: 'Noto Sans JP', sans-serif;
  overflow: hidden;
  float: left;
  display: block;
  width: 50%;
}

header img{
  width: 100%;
}

.nav{
  overflow: hidden;
  margin: 1%;
}

.nav ul{
  list-style-type: none;
}

.nav a{
  text-decoration: none;
  color: black;
}

.nav li{
  float: left;
  font-size: 30px;
  width: 130px;
  margin: 7px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
}

.nav li:hover{
  background-color: white;
}

.main{
  font-family: 'Inter', sans-serif;
  display: block;
  overflow: hidden;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;

}

@media screen and (max-width: 800px) {
  body{
    margin: 0;
  }

  header{
    display: block;
    width: 100%;
  }
  .nav{
    display: block;
    width: 100%;
  }

}

/* resize window - nav bar under full title screen */
@media screen and (max-width: 400px) {
  html{
    margin: 0;
  }

  body{
    margin: 0;

  }
  header{
    display: block;
    width: 100%;
  }
  .nav{
    display: block;
    width: 95%;
    padding: 0;
  }
  .nav li{
    width: 85%;
    font-size: 20px;
    height: 30px;
  }


}

/* full desktop */
